.logo {
  background-image: url("./orchardtiny.png");
  width: 2.6rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-size: contain;
}

.addItemForm .addItemFormDiv {
  margin: 5px;
}
.body {
  background-image: url(bgd.png);
}

body {
  background-image: url(bgd.png);
}
#welcome {
  font-family: "Yellowtail", cursive;
  display: grid;
  justify-content: center;
  margin-top: 1em;
}

#logo {
  font-family: "Alata", sans-serif;
  color: navy;
  -webkit-text-fill-color: orange;
  -webkit-text-stroke-width: 0.026em;
  display: grid;
  justify-content: center;
  font-size: 6em;
}

#form-font {
  font-family: "Montserrat", sans-serif;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1,
.btn-margin {
  font-family: "Alata", sans-serif;
}

.mr-auto {
  height: 5em;
  font-family: "Alata", sans-serif;
  justify-content: center;
  align-items: center;
}

.slogan {
  font-family: "Yellowtail", cursive;
  display: flex;
  justify-content: center;
  border-bottom-width: medium;
  border-bottom-color: dimgray;
  border-bottom-style: solid;
  padding-bottom: 10px;
}

.abtus {
  padding: 1em;
  letter-spacing: 2px;
}

.second-row {
  margin-top: 5%;
}
.card-title {
  font-family: "Yellowtail", cursive;
  font-size: 3em;
}
.card-text {
  font-family: "Alata", sans-serif;
}

#footerlogo {
  font-family: "Alata", sans-serif;
  color: navy;
  -webkit-text-fill-color: orange;
  -webkit-text-stroke-width: 0.026em;
  display: grid;
  justify-content: center;
  font-size: 2em;
}

/* .juliet{
  max-width: max-content;
} */

.card-img-top {
  height: 100%;
  max-height: 500px;
  width: auto;
}

h6 {
  font-family: "Alata", sans-serif;
  letter-spacing: 2px;
}

.words {
  font-family: "Alata", sans-serif;
}
